<ng-container *ngFor="let row of matrix;" >

        <!-- <img *ngFor="let col of row;" src="https://aplicaciones.uc3m.es/fotoTarin/obtenerFoto.uc3m?i=255039&r=196731dfb62d2647956c2f91940467bd"> -->
        <!-- <img *ngFor="let col of row;" src="https://aplicaciones.uc3m.es/fotoTarin/obtenerFoto.uc3m?i=255076&r=be23cf4d06be419bf41840d8e8b0bfda"> -->
        <img *ngFor="let col of row;" src="https://aplicaciones.uc3m.es/fotoTarin/obtenerFoto.uc3m?i=255073&r=57201d120a0c52d8301c01e528c73b14">
        <br>
        

</ng-container>

<p>AAAAAAAAAAAAAAAAAAAAAAAAAAA</p>