<!-- Header -->
<app-header></app-header>

<div class="game">

  <!-- Tablero -->
  <div class="table">

    <ng-container *ngFor="let row of matrix; index as i" >
      <ng-container *ngFor="let npc of row; index as j">
        <!-- X immage -->
        <img *ngIf="matrix[i][j].state==1" class= "x" src="{{x_picture}}" (click)='onClickNpc(i, j);'>

        <!-- Character image -->
        <img  class= "characterPic" src="{{npc.url}}" (click)='onClickNpc(i, j);'>

      </ng-container>
    </ng-container>
    
  </div>

  <h2 class="room">SALA 123</h2>
  <button *ngIf="selecting==false" class="buttonResolve" mat-raised-button (click)="openSnackBar(); toggleSelecting()">RESOLVER</button>
  <button *ngIf="selecting==true" class="buttonResolve" mat-raised-button (click)='toggleSelecting()'>CANCEL</button>


  <div class="chat">
    <h1 class="titleChat">CHAT</h1>


    <div *ngFor="let m of chat" class="msg">
      <p *ngIf="m[0]==0" class="msgRight"> {{m[1]}} </p>
    </div>


    <input type="text" class="inputChat" [(ngModel)]="newMsg">
    <div class="divSend">
      <img class="send" src="/assets/img/send.svg" (click)="sendMsg()">
    </div>
  </div>



    <p>Jugador:</p>
    <img class="playerNpc" src="{{playerNpc}}">

    <ng-container>
      <p>Objetivo</p>
      <img *ngIf="debug==true" class="goal" src="{{goal}}">
    </ng-container>


</div>

<!-- Footer -->
<app-footer></app-footer>
