.characterPic{
  width: 9%;
  height: auto;
  margin-bottom: 0.05%;
  margin-right: 0.05%;
  z-index: 1;
}

.x{
  width: 9%;
  height: auto;
  margin-bottom: 0.05%;
  margin-right: 0.05%;
  position: absolute;
  z-index: 2;
}

.playerNpc{
  width: 15%;
  height: auto;
  margin-bottom: 0.05%;
  margin-right: 0.05%;
  z-index: 1; 
}
.goal{
  width: 15%;
  height: auto;
  margin-bottom: 0.05%;
  margin-right: 0.05%;
  z-index: 1; 
}
