.centerLoser{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.titleLoser{
  font-size: 190%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

.subtitleLoser{
  font-size: 160%;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.buttonAccept{
  font-size: 18px;
}
