<!-- Header -->
<app-header></app-header>

<div class="game">

  <!-- Tablero -->
  <div class="table">

    <ng-container *ngFor="let row of matrix; index as i" >
      <ng-container *ngFor="let npc of row; index as j">
        <!-- X immage -->
        <img *ngIf="matrix[i][j].state==1" class= "x" src="{{x_picture}}" (click)='onClickNpc(i, j);'>

        <!-- Character image -->
        <img  class= "characterPic" src="{{npc.url}}" (click)='onClickNpc(i, j);'>
      </ng-container>
      <br>
    </ng-container>

  </div>

  <h2 *ngIf="game!=undefined" class="room">SALA {{game.room}}</h2>
  <button *ngIf="selecting==false" class="buttonResolve" mat-raised-button (click)="openSnackBar(); toggleSelecting()">RESOLVER</button>
  <button *ngIf="selecting==true" class="buttonResolve" mat-raised-button (click)='openSnackBar2(); toggleSelecting()'>CANCELAR</button>

  <img class="playerNpc" src="{{playerNpc}}">

  <img *ngIf="debug==true" class="goal" src="{{playerNpc}}">

  <div class="chat">
    <h1 class="titleChat">CHAT</h1>


    <ng-container *ngFor="let m of chat">

      <div *ngIf="m[0]==player" class="msgRight">
        <p>{{m[1]}}</p>
      </div>
      <div *ngIf="m[0]!=player" class="msgLeft">
        <p>{{m[1]}}</p>
      </div>

    </ng-container>

    <form (ngSubmit)="getMsg($event)">
        
      <input matInput placeholder="123" class="inputNum" required>

      <button class="buttonA" mat-raised-button type="submit">Aceptar</button>
    </form>

  </div>

</div>

<!-- Footer -->
<app-footer></app-footer>
