.npcSelector{
  min-height: 84%;
}

.titleNpcSelector{
  text-align: center;
  margin-top: 4%;
  font-size: 200%;
}

.setSelected{
  width: 60%;
  position: relative;
  left: 24.5%;
  margin-top: 2%;
}

.characterPic{
  width: 14%;
  height: auto;
  margin-bottom: 0.05%;
  margin-right: 0.05%;
  z-index: 1;
  position: relative;
  cursor: pointer;
  }
