<!-- Header -->
<app-header ></app-header>


<div class="npcSelector">

  <p class="titleNpcSelector">Elige tu personaje misterioso</p>

  <!-- Tablero -->
  <div class="setSelected">

    <ng-container *ngFor="let row of matrix;" >
      <ng-container *ngFor="let npc of row;">
        <!-- Character image -->
        <img  class= "characterPic" src="{{npc.url}}" (click)='select(npc.url);'>

      </ng-container>
      <br>
    </ng-container>

  </div>
</div>

<!-- Footer -->
<app-footer></app-footer>
