
.header{
  height: 120px;
  width: 100%;
  background-color: #eb4d55;
  position: sticky;
  top: 0;
}

.logoH{
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.logoHeader{
  width: 100px;
  height: 100px;
}

.nameHeader{
  font-size: 40px;
  font-family: sans-serif;
}

.levelHeader{
  font-size: 20px;
  font-family: cursive;
  margin-left: 1250px;
}

.userPhoto{
  width: 70px;
  height: 70px;
  float: left;
}

.usernameHeader{
  font-size: 15px;
  float: left;
}

.divProfileHeader{
  width: 70px;
  height: 100px;
  margin-left: 10px;
  margin-top: 20px;
}
