.wallpaperP{
  background-image: url('/assets/img/fondo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  width: 50%;
  height: 60%;
  background-color: white;
  border: 3px solid black;
  display: inline;
  position: relative;
}

.titleProfile{
  float: right;
  font-weight: bold;
  margin-right: 0%;
  width: 70%;
  text-align: center;
  line-height: 60px;

}

.usernameProfile{
  @extend .titleProfile;
  margin-top: 5%;
  font-size: 50px;
}

.levelProfile{
  @extend .titleProfile;
  font-size: 40px;
}

.divLevel{
  margin-right: 10%;
  text-align: center;
  float: right;
  width: 51%;
}

.levelBar{
  height: 20px;
  width: 50%;
  left: 25%;
  position: relative;
}

.pointsProfile{
  @extend .titleProfile;
  font-size: 15px;
  width: 50%;
  height: 10%;
  position: relative;
  right: 25%;
}

.photoProfile{
  width: 25%;
  height: auto;
  border: 2px solid black;
  margin: 2%;
  position: absolute;
  top: 0;
  left: 0;
}

.userPhotoProfile{
  width: 100%;
  height: auto;
}
