<!-- Header -->
<app-header></app-header>

<!-- Imagen fondo de pantalla -->
<div class="wallpaperP">

  <div class="card">


    <h2 class="usernameProfile"> Nombre de usuario </h2>

    <h2 class="levelProfile"> NIVEL X </h2>

    <div class= "photoProfile">
      <img class="userPhotoProfile"src="assets/img/profilePhotoEx.jpeg">
    </div>

    <div class="divLevel">
      <mat-progress-bar class="levelBar" mode="determinate" value="80" color="warn"></mat-progress-bar>
      <p class="pointsProfile"> 80 PUNTOS de 100 </p>
    </div>


    <p class="rankingLink" routerLink="/ranking"> RANKING </p>

  </div>

</div>

<!-- Footer -->
<app-footer></app-footer>
