<!-- Header -->
<app-header></app-header>

<!-- Imagen fondo de pantalla -->
<div class="wallpaperP">

  <div class="rank" *ngIf="loaded">

    <div class= "photoTrophy">
      <img class="trophy"src="assets/img/goal.svg">
    </div>
    <h2 class="titleRanking"> RANKING MEJORES JUGADORES </h2>


    <div class="divUser" *ngFor="let i of users">

        <div class= "divUserPhotoRank">
          <img class="userPhotoRanking"src="{{i.profilePhotoURL}}">
        </div>
        <p class="usernameRanking"> {{i.username}} </p>
        <p class="levelRanking"> NIVEL {{i.level}} </p>
        <p class="pointsRanking"> {{i.points}} puntos </p>


    </div>




  </div>


  <div *ngIf="!loaded">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>


</div>

<!-- Footer -->
<app-footer></app-footer>
