.wallpaperP{
  background-image: url('/assets/img/fondo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.rank{
  width: 60%;
  height: 80%;
  position: relative;
  cursor: default;
}

.photoTrophy{
  width: 8%;
  height: auto;
  top: 0;
  margin-top: 2%;
  position: absolute;
}

.trophy{
  width: 100%;
  height: auto;
  position: relative;
  left: 575%;
}

.titleRanking{
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  top: 0;
  margin-top: 12%;
  left: 30%;
}

.divUser{
  width: 60%;
  height: 10%;
  top: 25%;
  margin-top: 1%;
  background-color: white;
  border: 3px solid black;
  position: relative;
  left: 19.5%;
}

.divUserPhotoRank{
  width: 15%;
  height: auto;
  margin: 2%;
  position: absolute;
  left: 0;
}

.userPhotoRanking{
  width: 50%;
  height: auto;
}

.usernameRanking{
  font-size: 15px;
  position: absolute;
  top: 35%;
  left: 18%;
}

.levelRanking{
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  top: 35%;
  left: 50%;
}

.pointsRanking{
  font-size: 15px;
  position: absolute;
  top: 35%;
  left: 75%;
}
