<!-- Header -->
<app-header></app-header>

<!-- Imagen fondo de pantalla -->
<div class="wallpaperP">

  <div class="rank">

    <div class= "photoTrophy">
      <img class="trophy"src="assets/img/goal.svg">
    </div>
    <h2 class="titleRanking"> RANKING MEJORES JUGADORES </h2>


    <div class="divUser">
      <div class= "divUserPhotoRank">
        <img class="userPhotoRanking"src="assets/img/profilePhotoEx.jpeg">
      </div>
      <p class="usernameRanking"> Nombre usuario </p>
      <p class="levelRanking"> NIVEL X </p>
      <p class="pointsRanking"> 100 puntos </p>

    </div>

  </div>


</div>

<!-- Footer -->
<app-footer></app-footer>
