<!-- Header -->

<mat-toolbar class="header">

  <div class= "logoH">
    <img class="logoHeader"src="assets/img/logo.png">
  </div>

  <!-- Para navegar a la página de inicio ponemos routerLink="" -->
  <h1 class="nameHeader" routerLink="">¿Quién es Quién?</h1>

  <p class="levelHeader">NIVEL X</p>

  <div class= "divProfileHeader">
    <img class="userPhoto" src="assets/img/69.svg">
    <!-- Para navegar a la página del perfil ponemos routerLink="/profile" -->
    <p class="usernameHeader" routerLink="/profile">Nombre</p>
  </div>

</mat-toolbar>
