<!-- Header -->

<mat-toolbar class="header">

  <div class= "logoH">
    <img class="logoHeader"src="assets/img/logo.png">
  </div>

  <!-- Para navegar a la página de inicio ponemos routerLink="" -->
  <h1 class="nameHeader" routerLink="">¿Quién es Quién?</h1>


  <button class="buttonNG" mat-raised-button color='warn' routerLink="/principalpage">Jugar</button>

  <button class="buttonRank" mat-raised-button color='warn' routerLink="/ranking">Ranking</button>


  <p *ngIf="user!=undefined" class="levelHeader">NIVEL {{user.level}}</p>

  <div *ngIf="user!=undefined" class= "divProfileHeader">
    <img class="userPhoto" src="{{user.profilePhotoURL}}" (click)="goto('/profile')">

    <p class="usernameHeader" (click)="goto('/profile')">{{user.username}}</p>
  </div>

</mat-toolbar>
