
.header{
  height: 150px;
  width: 100%;
  background-color: #ed1c24;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logoH{
  width: 45%;
  height: 85%;
  margin-right: 2%;
}

.logoHeader{
  width: auto;
  height: 100%;
}

.nameHeader{
  font-size: 300%;
  font-family: sans-serif;
  margin-right: 20%;
  cursor: pointer;
}

.levelHeader{
  font-size: 20px;
  font-family: cursive;
  margin-left: 30%;
  cursor: default;
}

.userPhoto{
  width: auto;
  height: 80%;
  float: left;
  cursor: pointer;
}

.usernameHeader{
  font-size: 15px;
  float: left;
  cursor: pointer;
}

.divProfileHeader{
  width: 30%;
  height: 70%;
  margin-left: 1%;
  margin-top: 0.5%;
}
