<br>
<!-- Componente lista con 2 listas -->
<!-- Cuando el EventEmitter cambio emita, llamamos a la funcion actualizar con los paramatros que ha emitido -->
<app-lista nombre1 = {{nombreLista1}} nombre2 = {{nombreLista2}} (cambio) = "actualizar($event);">

<!-- Componentes opciones -->
<!-- Opciones primer desplegable -->
<app-opcion nombre = "Comunidad de Madrid" id1 = 1></app-opcion>
<app-opcion nombre = "Aragón" id1 = 2></app-opcion>
<app-opcion nombre = "Castilla-León" id1 = 3></app-opcion>
<app-opcion nombre = "Navarra" id1 = 4></app-opcion>


<!-- Opciones segundo desplegable -->
<!-- cada opcion tiene su id propio (id2) y el id de su padre (id1) -->
<app-opcion nombre = "Madrid" id1 = 1 id2 = 1></app-opcion>

<app-opcion nombre = "Huesca" id1 = 2 id2 = 2></app-opcion>
<app-opcion nombre = "Zaragoza" id1 = 2 id2 = 3></app-opcion>
<app-opcion nombre = "Teruel" id1 = 2 id2 = 4></app-opcion>

<app-opcion nombre = "Ávila" id1 = 3 id2 = 5></app-opcion>
<app-opcion nombre = "Salamanca" id1 = 3 id2 = 6></app-opcion>
<app-opcion nombre = "Zamora" id1 = 3 id2 = 7></app-opcion>
<app-opcion nombre = "León" id1 = 3 id2 = 8></app-opcion>
<app-opcion nombre = "Palencia" id1 = 3 id2 = 9></app-opcion>
<app-opcion nombre = "Burgos" id1 = 3 id2 = 10></app-opcion>
<app-opcion nombre = "Soria" id1 = 3 id2 = 11></app-opcion>
<app-opcion nombre = "Valladolid" id1 = 3 id2 = 12></app-opcion>
<app-opcion nombre = "Segovia" id1 = 3 id2 = 13></app-opcion>

<app-opcion nombre = "Navarra" id1 = 4 id2 = 14></app-opcion>

</app-lista>

<!-- Id de la opcion seleccionada en el primer desplegable -->
{{nombreLista1}}: {{valor1}}
<br>
<!-- Id de la opcion seleccionada en el segundo desplegable -->
{{nombreLista2}}: {{valor2}}
<br>
<br>
<!-- Mostrar los id en un alert cuando se da al boton -->
<button (click)="infoId()">Obtener id</button>
