.setSelector{
  min-height: 84%;
}

.titleSetSelector{
  text-align: center;
  margin-top: 4%;
  font-size: 200%;
}

.divSets{
  margin-top: 3%;
  display: flex;
}

.set{
    width: 85%;
    height: auto;
    padding: 10px;
    margin-right: 3%;
    left: 6%;
    position: relative;
    cursor: pointer;
  }

.nameSet{
  text-align: center;
  font-weight: bold;
}
