
.centerLogin{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.titleLogin{
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.inputNameuser{
  width: 250px;
  height: 80px;
  font-size: 20px;
}

.inputPassword{
  width: 280px;
  font-size: 20px;
}

.buttonI{
  font-size: 18px;
}
