.wallpaper{
  background-image: url('/assets/img/fondo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.centerT{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  padding-top: 10%;
}

.title{
  font-size: 120px;
  font-family: sans-serif;
}

.centerS{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9%;
}

.subtitle{
  font-size: 40px;
}

.centerL{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35%;
}

.logoHomepage{
  width: auto;
  height: auto;
}

.centerB{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
}

.buttonIS{
  width: 13%;
  height: 35%;
  font-size: 30px;
}

.buttonR{
  width: 13%;
  height: 35%;
  font-size: 30px;
  margin-left: 2%;
}
