<!-- Imagen fondo de pantalla -->
<div class="wallpaper">

  <div class="centerT">
    <h1 class="title">¿Quién es Quién?</h1>
  </div>

  <div class="centerS">
    <h3 class="subtitle"> ¿Serás capaz de adivinar el personaje misterioso antes que tu oponente? </h3>
  </div>

  <div class="centerL">
    <img class="logoHomepage" src="assets/img/logo.png">
  </div>

  <div class="centerB">
    <!-- Para abrir los popups de inicio de sesión y registro cuando damos a sus respectivos botones usamos las funciones openLogin() y openRegister() -->
    <button class="buttonIS" mat-raised-button (click)='openLogin()'>Iniciar sesión</button>
    <button class="buttonR" mat-raised-button (click)='openRegister()'>Registrarse</button>
  </div>

</div>

<!-- Footer -->
<app-footer></app-footer>
