<div class="a">
  <!-- Primer desplegable -->
  <!-- En valores[0] guardamos la opcion seleccionada actualmente, y cuando cambia llamamos a la funcion cambioOp1() para actualizar los id que se muestran debajo de los desplegables-->
  {{nombre1}}
  <select [(ngModel)]="valores[0]" (change)="cambioOp1();">
    <!-- Para que por defecto se ponga un '-' -->
    <option selected>-</option>
    <!-- Opciones del primer desplegable, el nombre se encuentra en opciones1 -->
    <option *ngFor="let op1 of opciones1">{{op1}}</option>
  </select>

  <!-- Segundo desplegable -->
  {{nombre2}}
  <!-- En valores[1] guardamos la opcion seleccionada actualmente, y cuando cambia llamamos a la funcion cambioOp2() para actualizar los id que se muestran debajo de los desplegables-->
  <select [(ngModel)]="valores[1]" (change)="cambioOp2();">
    <!-- Opciones del segundo desplegable, el nombre se encuentra en opciones2 -->
    <option *ngFor="let op2 of opciones2[opciones1.indexOf(valores[0])]">{{op2}}</option>
  </select>

</div>
